/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #0075b5;
}

/* p {
  line-height: 2rem;
} */

.sidenav-trigger {
  color: #0075b5;
}

.parallax-container {
  display: grid;
  place-items: center;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  text-align: center;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /* top: 40%; */
  }
}

@media only screen and (max-width : 600px) {
  #index .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.text-shadow {
  text-shadow: 2px 2px 2px #000;
}

.image-blur {
  filter: blur(1.5px) brightness(0.5);
}

.serratec-blue {
  background-color: #0075b5;
}
.serratec-blue:hover {
  background-color: #005888;
}
.serratec-blue:active {
  background-color: #0075b5;
}

.serratec-blue:active {
  background-color: #00334e;
}

.serratec-blue-text {
  color: #0075b5;
}

.waves-light {
  background-color: #018dd8;
}

#vertical-center h1 {
  margin: 0;
}

.justify-text {
  text-justify: distribute;
  text-align: justify;
}



.sidenav-trigger {
  z-index: 0 !important;
}


.sidenav-overlay {
  z-index: 1;
}

#nav-mobile {
  z-index: 3;
}
.navbar-fixed {
  z-index: 2;
}

.page-footer {
  display: grid;
  place-items: center;
  padding: 100px;

}

.footer-copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
}

.rounded-border {
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}